<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button role="button" class="close" id="modalclose" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      <h4>hello Narendra</h4>
    </div>
    <div class="modal-body">
<p>hello brother</p>
<form class="form-horizontal" id="namedetails" role="form">
<div class="form-group">
 <label class="label-control col-sm-2" for="name">Name:</label>
 <div class="col-sm-10">
 <input type="text" id="na" name="na" class="form-control">
</div>
</div>
</form>
    </div>
    <div class="modal-footer">
      <button type="submit" id="sub">submit</button>
    </div>
  </div>
</div>
