<html>
<body>
  <!-- <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/CanJS/can.jquery.js"></script> -->
<center>
Here is your Details<br>
{{#each res}}
Name:{{name}}<br>
Id  : {{id}}<br>
{{/each}}
Login:<input type="button" id="login1" value="login">
</center>
</body>
<html>
